<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Patrick+Hand+SC&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../dist/global.css" />
    {#
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    #}
  </head>
  <body
    class="bg-stone-50 text-neutral-900 h-full w-full font-patrick text-xl"
    hx-ext="response-targets"
  >
    <main class="py-5">
      <div class="container">{% block content %}{% endblock %}</div>
    </main>
    <script src="../dist/index.js"></script>
    <script src="../dist/vendors/htmx.min.js"></script>
    <script src="../dist/vendors/htmx-response-targets.min.js"></script>
  </body>
</html>
