{% extends 'base.html' %} {% set title = 'Sign up' %} {% block content %}

<div hx-ext="response-targets">
  <form
    hx-get="/api/users/get-user"
    hx-target="#result"
    hx-swap="innerHTML"
    hx-target-400="#result"
  >
    <input
      type="text"
      placeholder="Username"
      name="username"
      class="text-black"
    />
    <input
      type="password"
      placeholder="Password"
      name="password"
      class="text-black"
    />
    <button class="text-white bg-red-400" type="submit">Submit</button>
  </form>
  <div id="result"></div>
</div>

{% endblock %}
