{% extends "base.html" %} {% block content %}
<a
  hx-get="/homeContent"
  hx-target=".homepage-content"
  hx-swap="innerHTML"
  class="underline cursor-pointer"
>
  Back to your recipes
</a>

<h2>{{ singleRecipe.title }}</h2>
<img src="{{ singleRecipe.image }}" alt="{{ singleRecipe.title }}" />
<a href="{{ singleRecipe.url }}">Visit recipe URL</a>
<div class="uppercase font-bold">{{ singleRecipe.category }}</div>

<h2>Ingredients</h2>
{% for ingredient in singleRecipe.ingredients %}
<li>{{ ingredient }}</li>
{% endfor %}

<h2>Instructions</h2>
{% for instruction in singleRecipe.instructions %}
<li class="">{{ instruction }}</li>

{% endfor %} {% endblock %}
