<div>
  <h2 class="mb-5">Categories</h2>
  <ul>
    {% for facet in facets %}
    <li class="flex gap-2">
      <span class="font-bold">{{ facet._id }}</span>
      <span class="bg-black rounded-full p-1 leading-none"
        >{{ facet.count }}</span
      >
    </li>
    {% endfor %}
  </ul>
</div>

<ul class="grid grid-cols-3 gap-3">
  {% for recipe in recipes %}
  <li
    class="recipe cursor-pointer relative"
    hx-get="/recipes/{{ recipe.id }}"
    hx-target=".homepage-content"
    hx-swap="innerHTML"
    htmx-indicator="#loading"
  >
    <button
      class="absolute top-0 right-0 bg-black delete-btn"
      hx-post="/api/recipes/deleteGetAll/"
      hx-vals='{"id": "{{ recipe.id }}"}'
      hx-target=".homepage-content"
      hx-swap="outerHTML"
    >
      Delete
    </button>
    <img src="{{ recipe.image }}" alt="" />
    <h2>{{ recipe.name }}</h2>
  </li>
  {% endfor %}
</ul>
