<div>
  <button id="clear-refinements" class="bg-white text-black hidden">
    Clear refinements
  </button>
  <ul class="flex gap-3 mb-6">
    {% for facet in facets %}
    <li>
      <input type="checkbox" class="cursor-pointer" {% if isChecked === "true"%}
      hx-get="/api/recipes/allRecipes" {% else %}
      hx-get="/api/recipes/category/{{ facet._id }}" {% endif %}
      hx-include="#search-input" hx-target=".recipes" hx-swap="innerHTML"
      hx-trigger="change" hx-vals='js:{isChecked: event.target.checked}' id="{{
      facet._id }}" {# if the facet is the one that the user has selected, send
      back a checked checkbox #} {% if selectedFacet === facet._id and isChecked
      === "true" %} checked {% endif %} >
      <label for="{{ facet._id }}" class="font-bold">{{ facet._id }}</label>
    </li>
    {% endfor %}
  </ul>
</div>

<ul class="grid grid-cols-2 md:grid-cols-3 gap-3">
  {% for recipe in recipes %}
  <li
    class="recipe cursor-pointer relative"
    hx-get="/recipes/{{ recipe.id }}"
    hx-target=".homepage-content"
    hx-swap="innerHTML"
    htmx-indicator="#loading"
  >
    <button
      class="absolute top-0 right-0 bg-black delete-btn"
      hx-post="/api/recipes/deleteGetAll/"
      hx-vals='{"id": "{{ recipe.id }}"}'
      hx-target=".recipes"
      hx-swap="innerHTML"
    >
      Delete
    </button>
    <div
      style="background-image: url('{{ recipe.image }}');"
      class="min-h-56 w-full bg-cover mb-2 rounded-sm overflow-hidden"
    ></div>
    <h2 class="leading-none">{{ recipe.name }}</h2>
  </li>
  {% endfor %}
</ul>
